ul.task-list {
	list-style-type: none;
	padding-left: 1.5em;
	/* text-indent: -1.7em; */
}

li.task-list-item {
	display: flex;
	aligh-items: flex-start;
	align-items: first baseline;
	gap: 0.25em;
}

blockquote {
	margin-left: 2em;
	padding-left: 1em;
	border-left: 0.25em solid #ced7c2;
}

footer {
	margin-top: 2em;
	padding-top: 0;
	border-top: 0.25em solid #ced7c2;
	background-color: #f2f9e9;
}
