:root {
	--footer-background-color: #f2f9e9;
	--button-background-color: #f2f9e9;
	--solid-border-color: #ced7c2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--footer-background-color: #363a31;
		--button-background-color: #363a31;
	}
}
/* Repeated for theme-switch */
[data-theme="light"] {
	--footer-background-color: #f2f9e9;
	--button-background-color: #f2f9e9;
}
[data-theme="dark"] {
	--footer-background-color: #363a31;
	--button-background-color: #363a31;
}

header nav {
	flex-grow: 1;
}

button {
	background-color: var(--button-background-color);
	border: 1px solid var(--solid-border-color);
	border-radius: 0.25em;
	line-height: 1.5;
	vertical-align: middle;
	font-size: 1em;
}

/* -- */

.post-metadata {
	margin-bottom: 1em;
}

model-viewer {
	width: 100%;
	height: auto;
	aspect-ratio: 16/9;
}

ul.task-list {
	list-style-type: none;
	padding-left: 1.5em;
	/* text-indent: -1.7em; */
}

li.task-list-item {
	display: flex;
	aligh-items: flex-start;
	align-items: first baseline;
	gap: 0.25em;
}

blockquote {
	margin-left: 2em;
	padding-left: 1em;
	border-left: 0.25em solid var(--solid-border-color);
}

footer {
	margin-top: 2em;
	padding-top: 0;
	border-top: 0.25em solid var(--solid-border-color);
	background-color: var(--footer-background-color);
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-width: 40em;
}

main {
	flex-grow: 1;
}

nav.toc {
	padding: 0.5em 0;
	border-left: 0.25em solid var(--solid-border-color);
	margin-bottom: 1em;
}
nav.toc ol {
	margin: 0;
}

.columns {
	display: flex;
	flex-direction: column;
	width: 100%;
}

@media (min-width: 768px) {
	body {
		max-width: 55em;
	}
	.columns {
		flex-direction: row-reverse;
		gap: 1em;
	}
	article {
		flex-grow: 1;
		min-width: 0;
	}
	aside {
		flex: 0 0 12em;
	}
	nav.toc {
		position: sticky;
		top: 0;
	}
}
