---
title: home
layout: default
---

<h1>Web coder for hire: sites and apps</h1>
<blockquote>Because I believe that the computer revolution is still in the early stages, I build open web tools for creativity and community, so that more people may take part. Keep _ weird. 👽</blockquote>

<h1>Featured Projects</h1>
<section class="cf w-100">
  {% for item in site.projects %}
    <article class="fl w-100 w-50-m w-third-ns">
      <div class="ba bw3 mr2 mb2">
        <a class="link dim" href="{{ item.url }}">
          {% if item.images %}
            {% for image in item.images limit:1 %}
              {% include img.html %}
            {% endfor %}
          {% endif %}
          <h1 class="mv0 ml1">{{ item.title }}</h1>
        </a>
        {% if item.links %}
          <ul class="pa0 mb2">
            {% for link in item.links %}
              <li class="dib mr2"><a href="{{link[1]}}">{{link[0]}}</a>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>

{% include recent-posts.html %}
