---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;

const layout = "layouts/home.njk";

const eleventyComputed = {
	postsCount: (data) => data.collections.posts.length,
	latestPostsCount: (data) => Math.min(data.collections.posts.length, numberOfLatestPostsToShow),
	postslist: (data) => data.collections.posts.slice(-numberOfLatestPostsToShow),
  morePostsCount: (data) => Math.max(0, data.collections.posts.length - numberOfLatestPostsToShow)
};
---

<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% if morePostsCount > 0 %}
<p>{{ morePostsCount }} more post{% if morePostsCount != 1 %}s{% endif %} can be found in <a href="notes">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
