<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} | Forrest Oliphant</title>
  <link rel="alternate" type="application/rss+xml" title="Forrest O. feed" href="http://feeds.feedburner.com/forresto" />  
</head>
<body>

<header>
  <h1><a href="/"><img src="/images/forresto-com-logo.svg" width="72" height="72">Forrest Oliphant</a></h1>
</header>

{{ content }}

<footer>
  <ul>
    <li>
      Twitter: <a href="https://twitter.com/forresto">@forresto</a>
    </li>
    <li>
      <a href="https://github.com/forresto">GitHub</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/forrestoliphant">LinkedIn</a>
    </li>
    <li>
      <a href="https://stackoverflow.com/story/fo">StackOverflow</a>
    </li>
  </ul>
</footer>

</body>
</html>
