<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} | Forrest Oliphant</title>
  <link rel="alternate" type="application/rss+xml" title="Forrest O. feed" href="http://feeds.feedburner.com/forresto" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/tachyons.min.css"/>
  <style>
    html { line-height: 1.5; }
    footer a { color: white; }
  </style>
</head>
<body class="sans-serif">

<header class="ph2">
  <h1 class="ma0">
    <a href="/" class="near-black no-underline">
      <img src="/images/forresto-com-logo.svg" width="72" height="72" class="v-mid">
      Forrest Oliphant
    </a>
  </h1>
</header>

<div class="ph2">
{{ content }}
</div>

<footer class="mt4 ph2 pt4 pb5 bg-near-black white">
  <h1 id="contact" class="mv0">Elsewhere</h1>
  <ul>
    <li>
      Twitter: <a href="https://twitter.com/forresto">@forresto</a>
    </li>
    <li>
      <a href="https://github.com/forresto">GitHub</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/forrestoliphant">LinkedIn</a>
    </li>
    <li>
      <a href="https://stackoverflow.com/story/fo">StackOverflow</a>
    </li>
    <li id="writeme">
      forrest (ätt) sembiki (døt) com
    </li>
  </ul>
</footer>

<script type="text/javascript">
  (function() {
    var s = "=b!isfg>#nbjmup;gpssftuAtfncjlj/dpn@tvckfdu>tjuf&31jorvjsz#?gpssftuAtfncjlj/dpn=0b?";
    var link = "";
    for (i=0; i<s.length; i++) {
      link += String.fromCharCode(s.charCodeAt(i)-1); 
    }
    document.getElementById('writeme').innerHTML = link;
  })();
</script>

</body>
</html>
