---
layout: default
---

<h1 class="mw7">
  <a href="{{ page.url }}" class="link dim near-black">
    {{ page.display_title | default: page.title }}
  </a>
</h1>
<div>
  {% for image in page.images %}
    <div class="mw8">
      {% include img.html %}
    </div>
  {% endfor %}
</div>
<h1 class="mw7 f3">
  <a href="{{ page.url }}" class="link dim near-black">
    {{ page.display_title | default: page.title }}
  </a>
</h1>
<div class="mw7">
  <p>{{ page.date | date: "%Y" }}</p>
  {% if page.links %}
    <ul class="pa0 mb2">
      {% for link in page.links %}
        <li class="dib mr2"><a href="{{link[1]}}">{{link[0]}}</a>
      {% endfor %}
    </ul>
  {% endif %}
  {{ content }}
  {% if page.tags %} 
    <ul class="tags">
      {% for tag in page.tags %}
      <li class="tag">{{ tag }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
